@use 'variables' as *;

/* Button Styles */
.btn {
	display: inline-block;
	padding: 1em 2em;
	background: white;
	transition: background ease 200ms;
	color: black;
	margin: 5px;
	font-weight: 600;

	&:hover {
		background: $white-hvr;
	}

	&--light {
		@extend .btn;
		background: $offwhite;
	}

	&--dark {
		@extend .btn;
		background: black;
		color: white;

		&:hover {
			background: $black-hvr;
		}
	}

	&--round {
		@extend .btn;
		padding: 0.7em 0.7em;
		border-radius: 1.5em;
	}

	&--square {
		@extend .btn;
		display: inline-flex;
		padding: 0;
		width: 2.3em;
		height: 2.3em;
		align-items: center;
		justify-content: center;
	}

	&--circle {
		@extend .btn--square;
		border-radius: 50%;
	}
}
