@use 'variables' as *;

/* Button Styles */
.btn {
	display: inline-block;
	padding: 1em 2em;
	background: white;
	transition: background ease 200ms;
	color: black;

	&:hover {
		background: $white-hvr;
	}

	&--light {
		@extend .btn;
		background: $offwhite;
	}

	&--dark {
		@extend .btn;
		background: black;
		color: white;

		&:hover {
			background: $black-hvr;
		}
	}

	&--round {
		@extend .btn;
		padding: 0.7em 0.7em;
		border-radius: 1.5em;
	}

	&--square {
		@extend .btn;
		display: inline-flex;
		padding: 0;
		width: 2.3em;
		height: 2.3em;
		align-items: center;
		justify-content: center;
	}

	&--circle {
		@extend .btn--square;
		border-radius: 50%;
	}
}

.underline {
	position: relative;

	&::before {
		content: '';
		width: 100%;
		position: absolute;
		height: 1px;
		background: rgba(0, 0, 0, 0.3);
		top: 1.5em;
		left: 0;
	}

	&::after {
		content: '';
		width: 0;
		position: absolute;
		height: 1px;
		background: black;
		top: 1.5em;
		left: 0;
		z-index: 1;
		transition: width ease 200ms;
	}

	&:hover::after {
		width: 100%;
	}
}
